{% extends "base.html" %} {% block content %} {% load static %}
<style>
    #id_comment_text {
        width: 90%;
        height: 30px;
    }
    
    .save {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    
</style>
<section class="banner_part" style="height: 2000px; background-color: #F8F9FA; ">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="banner_text_iner">
                    <div class="card" style="margin-top: 20px;">
                        <div class="card-body">
                            <h5 class="card-title" style="display: inline-block;">제목 : {{ board.title }}</h5>
                            <form method="POST" action="{% url 'message_make' board.id %}" class="post-form" style="margin-top:20px;float:right">{% csrf_token %}
                                <button type="submit" class="save btn btn-info">쪽지 보내기</button>
                            </form>
                            <br>
                            <span>작성자 :  {{ board.writer.Nickname }}</span>
                            <hr>
                            {{ board.content | safe }}

                            <small class="text-muted" style="float: right;">{{ board.help_date|date:'Y. m. d H:i' }}</small><br>
                            <span class="card-text" style="float: right;">{{ board.region }}</span>
                        </div>
                        <hr>
                        <div class="card-body" id="comment" style="overflow:auto; width:100%; height:300px; padding:10px; padding-top:0px">
                            <h4>&lt; 댓글 &gt;</h4> <br> {% for comment in board.comments.all %}
                            <div class="comment">
                                <strong>{{ comment.author.Nickname }}</strong>
                                <div class="date">{{ comment.created_at }}</div>
                                <p>{{ comment.comment_text|linebreaks }}</p>
                            </div>
                            {% empty %}
                            <p>No comments here yet :(</p>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <form method="POST" action="{% url 'add_comment_to_post' board.id %}" class="post-form">{% csrf_token %} {{ form }}
                                <button type="submit" class="save btn btn-success">등록</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}