{% load static %}

<div class="bg-modal2">
<div class="modal-content2">
<div class="close2"> + </div>
<html>
  <body>
    <div id="submodal">
      <form>
      </br>
        <fieldset>
          <legend>내 동네 찾기</legend>
        </fieldset>
        <div class="inner-form">
          <div class="left">
            <div class="input-wrap first">
              <div class="input-field first" id="whatinput">
                <label>"산본"으로 검색 결과</label>
              </div>
              <select name="town" size="18" form="town" class="town" id="town">
                <option id="nothing" disabled>------------------------------------------------------------</option>
              </select>
            </div>
          </div>
          <button class="btn-2" type="button" id="btn-2">Select</button>
        </div>
      </form>
    </div>
  </body>
</html>
</div>
</div>