{% extends "base.html" %} 
{% block content %}
{% load static %}

  <!-- Header part end-->
  <!-- banner part start-->
  <section class="banner_part" style="background-image: url('/static/img/main.jpg');">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10">
          <div class="banner_text text-center">
            <div class="banner_text_iner">
              <h1>도움 나눔</h1>
              <p>이웃끼리 도움좀 나눠 봅시당!!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- banner part start-->
  <!--top place start-->
  <section class="top_place section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="section_tittle text-center">
            <h2>Dona의 목적</h2>
            <p>
              품앗이를 생각하며 개발, 이웃 커뮤니티의 활성화, 사소한 도움을
              주고받기
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="single_place">
            <img src="{% static 'img/single1.jpg' %}" alt="" />
            <div
              class="hover_Text d-flex align-items-end justify-content-between"
            >
              <div class="hover_text_iner">
                <a href="#" class="place_btn">travel</a>
                <h3>가까운 이웃이 먼 친척보다 낫다</h3>
                <p>Technaf, Bangladesh</p>
                <div class="place_review">
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <span>(210 review)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_place">
            <img src="{% static 'img/single2.jpg' %}" alt="" />
            <div
              class="hover_Text d-flex align-items-end justify-content-between"
            >
              <div class="hover_text_iner">
                <a href="#" class="place_btn">travel</a>
                <h3>잃어버린 지역공동체 회복</h3>
                <p>Technaf, Bangladesh</p>
                <div class="place_review">
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <span>(210 review)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_place">
            <img src="{% static 'img/single3.jpg' %}" alt="" />
            <div
              class="hover_Text d-flex align-items-end justify-content-between"
            >
              <div class="hover_text_iner">
                <a href="#" class="place_btn">travel</a>
                <h3>선한 영향력의 반복</h3>
                <p>품앗이</p>
                <div class="place_review">
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <span>(210 review)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="single_place">
            <img src="{% static 'img/single4.jpg' %}" alt="" />
            <div
              class="hover_Text d-flex align-items-end justify-content-between"
            >
              <div class="hover_text_iner">
                <a href="#" class="place_btn">travel</a>
                <h3>지역 커뮤니티 활성화</h3>
                <p>Technaf, Bangladesh</p>
                <div class="place_review">
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <a href="#"><i class="fas fa-star"></i></a>
                  <span>(210 review)</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--top place end-->
  <!--top place start-->
  <section class="event_part section_padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="event_slider owl-carousel">
            <div class="single_event_slider">
              <div class="row justify-content-end">
                <div class="col-lg-6 col-md-6">
                  <div class="event_slider_content">
                    <h5>이번달 도움 왕 1등</h5>
                    <h2>M대박이다</h2>
                    <p>ㄹㅇ 대박이다</p>
                    <p>date: <span>12 Aug 2019</span></p>
                    <p>Cost: <span>Start from $820</span></p>
                    <p>Organizer: <span> Martine Agency</span></p>
                    <div class="rating">
                      <span>Rating:</span>
                      <div class="place_review">
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                      </div>
                    </div>
                    <a href="#" class="btn_1">Plan Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="single_event_slider">
              <div class="row justify-content-end">
                <div class="ol-lg-6 col-md-6">
                  <div class="event_slider_content">
                    <h5>이번달 도움 왕 2등</h5>
                    <h2>Maldeve - Asia</h2>
                    <p>
                      Waters make fish every without firmament saw had.
                      Morning air subdue. Our. Air very one. Whales grass is
                      fish whales winged.
                    </p>
                    <p>date: <span>12 Aug 2019</span></p>
                    <p>Cost: <span>Start from $820</span></p>
                    <p>Organizer: <span> Martine Agency</span></p>
                    <div class="rating">
                      <span>Rating:</span>
                      <div class="place_review">
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                      </div>
                    </div>
                    <a href="#" class="btn_1">Plan Details</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="single_event_slider">
              <div class="row justify-content-end">
                <div class="ol-lg-6 col-md-6">
                  <div class="event_slider_content">
                    <h5>이번달 도움 왕 3등</h5>
                    <h2>Maldeve - Asia</h2>
                    <p>
                      Waters make fish every without firmament saw had.
                      Morning air subdue. Our. Air very one. Whales grass is
                      fish whales winged.
                    </p>
                    <p>date: <span>12 Aug 2019</span></p>
                    <p>Cost: <span>Start from $820</span></p>
                    <p>Organizer: <span> Martine Agency</span></p>
                    <div class="rating">
                      <span>Rating:</span>
                      <div class="place_review">
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                        <a href="#"><i class="fas fa-star"></i></a>
                      </div>
                    </div>
                    <a href="#" class="btn_1">Plan Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--top place end-->
  <!--::industries start::-->
  <section class="best_services section_padding">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6">
          <div class="section_tittle text-center">
            <h2>도움의 예시</h2>
            <p>알바를 구하기 민망할 정도의 일들을 도움으로 대체</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="single_ihotel_list">
            <img src="{% static 'img/help1.jpg' %}" alt="" />
            <h3><a href="#"> 택배 대신 수령</a></h3>
            <p>이웃끼리 택배좀 대신 수령하자</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_ihotel_list">
            <img src="{% static 'img/help2.jpg' %}" alt="" />
            <h3><a href="#"> 반려견 돌봐주기</a></h3>
            <p>여행갔을때 대신 좀 돌봐주자</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_ihotel_list">
            <img src="{% static 'img/help3.jpg' %}" alt="" />
            <h3><a href="#"> 이사 도와주기</a></h3>
            <p>새로 이사왔는데 좀 도와주자</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="single_ihotel_list">
            <img src="{% static 'img/help4.jpg' %}" alt="" />
            <h3><a href="#"> 식물 대신 키워주기</a></h3>
            <p>여행가는데 내 화분들 어떡하지...ㅠㅠ물안주면 다주거~</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--::industries end::-->
  {% endblock %}