{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
  p{
    font-size:14px;
  }
  .banner_part .banner_text{
    display: inline-block;
    height: 800px;
  }
  #id_content{
    height: 30px;
    width: 280px;
    vertical-align: middle;
    margin-left: 10px;
  }
  .post-form{
    margin-top:10px;
    display:inline-block;
    margin-bottom: 10px;
  }
  label{
    font-size: 15px;
  }
  .save{
    margin-left: 10px;
  }
  .leftside_header_contents:hover{
    background-color: rgb(241, 252, 252)
  }
@FONT-FACE {
  font-family: "Bamin";
  src: url("{% static 'fonts/BMJUA_ttf.ttf' %}");
}
.leftside_header_content, .rightside_header_content{
  font-family: "Bamin";
}
</style>

  <!-- banner part start-->
  <section class="banner_part" style="height: 900px; background-color: #F8F9FA;">
    <div class="container">
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger"  style="text-align:center;">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger" style="text-align:center;">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
      {% endif %}
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10">
          <div class="banner_text text-center" style="max-height: 800px !important;">
            <div class="leftside" style="overflow:auto;">
              <div class="leftside_header">
                <div class="leftside_header_content table-primary">Dona - 도움 나눔</div>
              </div>
              {% for msg in msg_container %}
                {% if msg.id == msg_id %}
                  <div class="leftside_header_contents" style="background-color: rgb(248, 230, 235);" >
                {% else %}
                  <div class="leftside_header_contents" >
                {% endif %}

                {% if msg.userone_id == user.id %}
                <a href="?msg={{msg.id}}" >
                  <p class="leftside_box heading" style="color:  rgb(46, 21, 128); font-size:20px;font-family: 'Bamin';">
                    {{msg.usertwo.Nickname}}
                    <span style="color: red; float: right;">
                      [{{msg.userone_unread}}]
                    </span>
                    <span style="color: black; float: right; font-size: 15px;">
                      내 게시글
                    </span>
                  </p>
                  <p class="leftside_box">{{msg.title}}</p>
                </a>
                {% else %}
                <a href="?msg={{msg.id}}">
                  <p class="leftside_box heading" style="color: rgb(46, 21, 128); font-size:20px; font-family: 'Bamin';">
                    {{msg.userone.Nickname}}
                    <span style="color: red; float: right; font-size:18px;">
                      [{{msg.usertwo_unread}}]
                    </span>
                  </p>
                  <p class="leftside_box">{{msg.title}}</p>
                </a>
                {% endif %}
              </div>
              {% empty %}
              <div  class="leftside_header_contents">
                <p class="leftside_box">쪽지가 비었습니다.</p>
              </div>
              {% endfor %}
            </div>

            <div class="rightside" style="overflow:auto;">
              <div class="rightside_header">
                <div class="rightside_header_content table-primary">쪽지 내용
                  <a href="javascript:window.location.reload(true);" class="btn_4" style="float: right; margin-right:5px; font-size:smaller; padding:4px 5px 4px 5px;">
                    <img src="{% static 'img/refresh2.png' %}" alt="" />
                  </a>
                  {% if msg_content %}
                  <a class="btn_4" href="{% url 'message_delete' msg_id %}" onclick="return confirm('쪽지를 삭제하시겠습니까?');" style="float: right; margin-right:5px; padding:4px 5px 4px 5px; font-size:smaller ">
                    <img src="{% static 'img/trash.png' %}" alt="" />
                  </a>
                    {% if helper_id == user.id and use_complete == 1 %}
                    <a class="btn_4" href="{% url 'help_clear' msg_id %}"   onclick="return confirm('도움 완료 기능은 하루에 한번 사용할 수 있습니다.\n도움을 완료하시겠습니까? ');"style="float: right; margin-right:5px; padding:4px 5px 4px 5px; font-size:smaller">
                      <img src="{% static 'img/complete2.png' %}" alt="" />
                    </a>
                    {% endif %}
                  {% endif %}
                </div>
              </div>              
              {{msg_content.didread.Sum}}
              {% for msg in msg_content %}
              <div class="rightside_send_box">
                  {% if msg.user_send == 1 %}
                  <p class="rightside_send_top_box" style="font-size:20px; font-family: 'Bamin';">
                    {{msg.message.userone.Nickname}}
                    <span style="font-size: 11px;float:right;color:black">
                      {{msg.registered_date|date:"M d, H:i"}}
                    </span>
                  </p> 
                  <p class="rightside_bottom_box">
                    {{msg.content}}
                  </p>
                  {% else %}
                  <p class="rightside_recv_top_box" style="font-size:20px; font-family: 'Bamin';">{{msg.message.usertwo.Nickname}}<span style="font-size: 11px;float:right;color:black">{{msg.registered_date|date:"M d, H:i"}}</span> </p>
                  <p class="rightside_bottom_box">{{msg.content}}</p>
                  {% endif %}
              </div>
              {% empty %}
              <div  class="rightside_send_box">
                <p class="rightside_bottom_box">쪽지함을 선택해 주세요.</p>
              </div>
              {% endfor %}

              {% if msg_id is not None %}
              <form method="POST" action="{% url 'add_content_to_msg' msg_id %}" class="post-form">{% csrf_token %}
                {{ form }}
                <button type="submit" class="save btn btn-success" >전송</button>
              </form>
              {% endif %}
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <input type='hidden' id='current_msg' value='1' />
  </section>
  <script>

  </script>
  {% endblock %}