{% extends "base.html" %} 
{% block content %}
{% load static %}
  <!-- banner part start-->
  <section class="banner_part" style="height: 800px; background-color: #F8F9FA;">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10">
          <div class="banner_text text-center">
            <div style="width: 33%; border-radius: 10px / 10px; height:700px; margin-top: 7%; border:1px solid; float: left;">
              <div style=" height:50px; border-bottom:1px solid;">
                <div style="text-align: left; padding: 3% 0 0 3%; font-size: 20px;">쪽지함</div>
              </div>
              <div style=" height:74px; padding: 12px 0 12px 0;border-bottom:1px solid;">
                <p style="text-align: left; padding: 0 0 0 2%;font-size:14px;">사람 1</p>
                <p style="text-align: left; padding: 0 0 0 2%;font-size:14px;">마지막 메세지 남기는 곳</p>
              </div>
              <div style=" height:74px; padding: 12px 0 12px 0;border-bottom:1px solid;">
                <p style="text-align: left; padding: 0 0 0 2%;font-size:14px;">사람 2</p>
                <p style="text-align: left; padding: 0 0 0 2%;font-size:14px;">마지막 메세지 남기는 곳</p>
              </div>
            </div>
            <div style="width: 65%; border-radius: 10px / 10px; height:700px; margin-top: 7%; border:1px solid; float: right;">
              <div style=" height:50px; border-bottom:1px solid;">
                <div style="text-align: left; padding: 1.5% 0 0 3%; font-size: 20px;">이름</div>
              </div>
              <div style=" height:74px; padding: 12px 0 12px 0; border-bottom:1px solid;">
                <p style="text-align: left; padding: 0 0 0 1%;font-size:14px;color:#0ca5af;">보낸 쪽지</p>
                <p style="text-align: left; padding: 0 0 0 1%;font-size:14px;">안녕하세용</p>
              </div>
              <div style=" height:74px; padding: 12px 0 12px 0;border-bottom:1px solid;">
                <p style="text-align: left; padding: 0 0 0 1%; font-size:14px;color:#ffcc1c;">받은 쪽지</p>
                <p style="text-align: left; padding: 0 0 0 1%;font-size:14px;">예 안녕하세용</p>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}