{% extends "base.html" %} 
{% block content %} 
{% load static %}
<style>
    p {
        font-size: 14px;
    }
    .banner_part table td{
        font-size:20px;
    }
    .banner_part table th {
        font-weight: normal;
        font-size:30px;
    }
    span {
        font-size:20px;
    }
    @FONT-FACE {
        font-family: "Bamin";
        src: url("{% static 'fonts/BMJUA_ttf.ttf' %}");
    }
    td,th,span,#myBtn,#myBtn2,h1{font-family: "Bamin";}
</style>

<!-- banner part start-->
<section class="banner_part" style="background-color: #F8F9FA; height:1000px;">
    <div class="container"style="height: 2000px;">
        <div class="row align-items-center justify-content-center" style="text-align: center; ">
            <h1 style="font-size: 45px;margin-bottom: 5px;">MYPAGE</h1>
            <div class="banner_text text-center;">
                <span>
                  "{{user.Nickname}}" 님 안녕하세요!
                </span>
                <br>
                <br>
                <table style="border:3px solid #0C3E72;text-align: center;padding-top: 50px; width: 50% !important; margin:auto; font-size:12px;display: table; ">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody>
                        <tr style="background-color: rgb(253, 253, 228);">
                            <th>Dona 유저 랭킹</th>
                            <th>{{person_rank}} 등</th>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table style="border:3px solid #0C3E72;text-align: center;padding-top: 50px; width: 100% !important; font-size:12px;display: table;">
                    <colgroup>
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                        <col width="25%">
                    </colgroup>
                    <tbody>
                        <tr style="background-color: rgb(255, 232, 232);">
                            <th>도움 나눔 횟수</th>
                            <td>{{user.helping}} 번</td>
                            <th>도움 받은 횟수</th>
                            <td>{{user.helped}} 번</td>
                        </tr>
                        <tr>
                            <th>E-mail 주소</th>
                            <td>{{user.email}}</td>
                            <th>닉네임</th>
                            <td>{{user.Nickname}}</td>
                        </tr>
                        <tr style="background-color: rgb(255, 232, 232);">
                            <th>등록 지역1</th>
                            {% if user.region1 %}
                            <td>{{user.region1}} </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td> 
                                {% if user.region1 %}
                                    <input type="button" class="btn-success" id="myBtn" value="지역 변경 "> 
                                {% else %}
                                    <input type="button" class="btn-primary" id="myBtn" value="지역 등록 "> 
                                {% endif %}
                            </td>
                            <td style="border:1px 0px 0px 1px;"><span style="font: 16px;">- Dona Rule -</span><br>개인정보 요구에 응하지 마세요.<br>금품 요구 행위는 제재 대상입니다.</td>
                        </tr>
                        <tr>
                            <th>등록 지역2</th>
                            {% if user.region2 %}
                            <td>{{user.region2}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td> 
                                {% if user.region2 %}
                                    <input type="button" class="btn-success" id="myBtn2" value="지역 변경 "> 
                                {% else %}
                                    <input type="button" class="btn-primary" id="myBtn2" value="지역 등록 "> 
                                {% endif %}
                            </td>
                            <td>거주지 외의 장소에서 도움을 받으세요<br>무분별한 도움 요청은 제재 대상입니다.</td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" id="btnToken" name="btnToken" value="1">
            </div>{% include "./findhome.html " %}
        </div>
    </div>
</section>
{% endblock %}