{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
  p{
    font-size:14px;
  }
</style>





  <!-- banner part start-->
  <section class="banner_part" style="height: 100%; background-color: #F8F9FA;">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-10">
          <div class="banner_text text-center">

            <div class="leftside">
              <div class="leftside_header">
                <div class="leftside_header_content">{{user.Nickname}}님 안녕하세요! </div>
              </div>
              <div  class="leftside_header_contents">
                <p class="leftside_box">보유 코인 개수</p>
                <p class="leftside_box">{{user.coin}} 개</p>
              </div>
              <div class="leftside_header_contents">
                <p class="leftside_box">E-mail 주소</p>
                <p class="leftside_box">{{user.email}}</p>
              </div>
              <div class="leftside_header_contents">
                <p class="leftside_box">이번 달 Dona 횟수</p>
                <p class="leftside_box">{{user.coin}} 번</p>
              </div>
              <div class="leftside_header_contents">
                <p class="leftside_box">이번 해 Dona 횟수</p>
                <p class="leftside_box">{{user.coin}} 번</p>
              </div>
              <div class="leftside_header_contents">
                <p class="leftside_box">등록 지역1</p>
                <p class="leftside_box">
                    {% if user.region1 %}
                        {{user.region1}}
                    {% else %}
                        <input type="button" id="myBtn" value="지역을 등록해주세요">
                    {% endif %}
                </p>
              </div>
              <div class="leftside_header_contents">
                <p class="leftside_box">등록 지역2</p>
                <p class="leftside_box">
                    {% if user.region2 %}
                        {{user.region2}}
                    {% else %}
                        <input type="button" id="myBtn2" value="지역을 등록해주세요">
                    {% endif %}
                </p>
              </div>
            </div>

            <div class="rightside">
              <div class="rightside_header">
                <div class="rightside_header_content">최근 Dona 이력</div>
              </div>
              <div class="rightside_send_box">
                <p class="rightside_send_top_box">내가 한 Dona</p>
                <p class="rightside_bottom_box">안녕하세용 qwewqepwqepinti nwqpe inwpqienqent piwnetpiwn qpqwefoiwqenfoiwqb eoiwenf oiwqen foiwebn ioqwef qwenfoi wnbefnweoi nwe fit</p>
              </div>
              <div class="rightside_send_box">
                <p class="rightside_recv_top_box">내가 받은 Dona</p>
                <p class="rightside_bottom_box">예 안녕하세용용 qwewqepwqepinti nwqpe inwpqienqent piwnetpiwn qpqwefoiwqenfoiwqb eoiwenf oiwqen foiwebn ioqwef qwenfoi wnbefnweoi nwe f</p>
              </div>
              <div class="rightside_send_box">
                <p class="rightside_recv_top_box">내가 받은 Dona</p>
                <p class="rightside_bottom_box">예 안녕하세용용 qwewqepwqepinti nwqpe inwpqienqent piwnetpiwn qpqwefoiwqenfoiwqb eoiwenf oiwqen foiwebn ioqwef qwenfoi wnbefnweoi nwe f</p>
              </div>
            </div>
          </div>
          </div>
            {% include "./findhome.html"  %}
        </div>
      </div>
    </div>
  </section>

  {% endblock %}