{% extends "base.html" %} {% block content %} {% load static %}
<style>
    p {
        font-size: 14px;
    }
    
    th {
        height: auto
    }
</style>

<!-- banner part start-->
<section class="banner_part" style="background-color: #F8F9FA;">
    <div class="container">
        <div class="align-items-center justify-content-center" style="text-align: center;">
            <h1 style="font-size: 45px;margin-bottom: 5px;">MYPAGE</h1>
            <span>
              "{{user.Nickname}}" 님 안녕하세요!
          </span>
            <div class="banner_text text-center;">
                <br>
                <br>
                <table style="border:3px solid #0C3E72;text-align: center;padding-top: 50px; width: 100% !important; font-size:12px;display: table;">
                    <colgroup>
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                        <col width="20%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th>Dona 준 횟수</th>
                            <td>{{user.coin}} 번</td>
                            <th>Dona 받은 횟수</th>
                            <td>{{user.coin}} 번</td>
                        </tr>
                        <tr>
                            <th>등록 지역1</th>
                            {% if user.region1 %}
                            <td>{{user.region1}} </td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td> {% if user.region1 %}<input type="button" id="myBtn" value="지역 변경 "> {% else %}
                                <input type="button" id="myBtn" value="지역 등록 "> {% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>등록 지역2</th>
                            {% if user.region2 %}
                            <td>{{user.region2}}</td>
                            {% else %}
                            <td></td>
                            {% endif %}
                            <td> {% if user.region2 %}
                                <input type="button" id="myBtn2" value="지역 변경 "> {% else %}
                                <input type="button" id="myBtn2" value="지역 등록 "> {% endif %}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>E-mail 주소</th>
                            <td>{{user.email}}</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <input type="hidden" id="btnToken" name="btnToken" value="1">
            </div>{% include "./findhome.html " %}
        </div>
    </div>
</section>
{% endblock %}