{% extends "base.html" %} 
{% block content %}
{% load static %}
<!-- login CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <!-- banner part start-->
  <section class="banner_part" style="background-color: #56baed;">
    <div class="container">
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Sign In </h2>
          <h2 class="inactive underlineHover">Sign Up </h2>
      
          <!-- Login Form -->
          <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">Forgot Password?</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  {% endblock %}