{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
  /* mouse over link */
  a:hover {
    color: #eed202;
  }
  #submit {
    margin-top: 5%;
  }
  .banner_part{
    height:100%;
  }
</style>
<!-- login CSS -->
<link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  <!-- banner part start-->
  <section class="banner_part" style="background-color: #56baed;">

    <div class="container">
      {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}
              <div class="alert alert-danger"  style="text-align:center; margin-bottom: 0px;">
                  <strong>{{ error|escape }}</strong>
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger" style="text-align:center; margin-bottom: 0px;">
              <strong>{{ error|escape }}</strong>
          </div>
      {% endfor %}
      {% endif %}

      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="inactive underlineHover"><a href="/login">Log In</a></h2>
          <h2 class="active">Sign Up </h2>
            <!-- Login Form -->
            <div class="login">
              <form method="post" >
                {% csrf_token %}
                <input type="text" name="username" class="fadeIn second" maxlength="150" minlength="4" required id="id_username" placeholder="ID" maxlength="150" minlength="6">
                <input type="email" name="email" class="fadeIn second" required id="id_email" placeholder="E-mail" maxlength="150" minlength="6">
                <input type="password" name="password1" class="fadeIn third" required id="id_password1"  placeholder="password" maxlength="150" minlength="6">
                <input type="password" name="password2" class="fadeIn third" required id="id_password2" placeholder="confirm password" maxlength="150" minlength="6">
                <input type="text" class="fadeIn fourth" name="Nickname" required id="id_Nickname" placeholder="Nickname" maxlength="6" minlength="2">
                <input class="btn btn-info mt-3" class="fadeIn fourth" type="submit" name="submit" value="Sign up" />
              </form>
            </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  {% endblock %}