{% extends "base.html" %} 
{% block content %}
{% load static %}
<style>
  /* mouse over link */
  a:hover {
    color: #eed202;
  }
  .fadeIn.second{
    margin-top:20px;
  }
  .banner_part{
    height:100%;
  }
</style>
<!-- login CSS -->
<link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <!-- banner part start-->
  <section class="banner_part" style="background-color: #56baed;">
    
    <div class="container">
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger"  style="text-align:center;">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" style="text-align:center;">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}

        <div class="wrapper fadeInDown">
          <div id="formContent">
            {% if user.is_authenticated %}
            <img src="{% static 'img/wrong_access.png' %}" alt="logo" />
            {% else %}
            <!-- Tabs Titles -->
            <h2 class="active"> Log In </h2>
            <h2 class="inactive underlineHover"><a href="/signup">Sign Up</a></h2>
          
            <!-- Login Form -->
            <form method="post" action="{% url 'login' %}">
              {% csrf_token %}
              <div class="fadeIn second">{{ form.username }}</div>
              <div class="fadeIn third">{{ form.password }}</div>
              <input type="submit" class="fadeIn fourth" value="Log In">
            </form>
          
            <!-- Remind Passowrd -->
            <div id="formFooter">
              <a class="underlineHover" href="/signup">Not a member? Sign up NOW!</a>
            </div>
            {% endif %}
          </div>
        </div>
    
    </div>
    </div>
  </section>
  {% endblock %}